# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with the two highest ranges of spending per student actually underperformed compared to schools with smaller budgets.

* Smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%). Overall passing rates dropped 20% (94% to 74%) in the large schools, compared to small and medium-sized schools.

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 

* The average math and reading scores across all 4 grades are largely similar within each school, with a slightly wider range of scores in math than in reading.

* In the worst performing schools, there is a significant difference (11%) between students passing math and students passing reading, with reading having the higher percentage. This discrepancy is smaller in the best performing schools, with students passing reading being 3% more than students passing math.

* In the district as a whole, there are 11% more students passing reading than students passing math, even though the average reading score is only 3 points higher than the average math score. This could be due to the fact that the average math score is only 9 points away from a passing grade.
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import statistics as st

# File to Load
school_data_to_load = "04-Pandas_Homework_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "04-Pandas_Homework_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate total number of schools

totalschools = len(school_data["school_name"].unique())

# Calculate total number of students

totalstudents = len(school_data_complete["Student ID"].unique())

# Calculate total budget and convert it to currency format

totalbudget = school_data["budget"].sum()
tbformat = ('$' + format(totalbudget, ',.2f'))

#totalbudget = totalbudget.map("${:,.2f}".format) - not working

print(tbformat)

$24,649,428.00

In [3]:
# Calculate average math score

avgmath = round(school_data_complete["math_score"].mean(), 6)

# Calculate average reading score

avgread = round(school_data_complete["reading_score"].mean(), 6)

In [4]:
# Calculate number of students passing math, percentage of students passing math, and convert to percent format

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

passing_math_rate = round(passing_math_count / float(totalstudents) * 100, 6)

passing_math_percent = str(passing_math_rate) + "%"

In [5]:
# Same process with students passing reading

passing_read_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']

passing_read_rate = round(passing_read_count / float(totalstudents) * 100, 6)

passing_read_percent = str(passing_read_rate) + "%"

In [6]:
# Calculate passing rates for math and reading, overall passing percent, and convert to percent format

passrates = [passing_math_rate, passing_read_rate]

overallpassingrate = round(st.mean(passrates), 6)

overallpassingpercent = str(overallpassingrate) + '%'

In [7]:
district_summary_df = pd.DataFrame([{'Total Schools' : totalschools,
                                    'Total Students' : totalstudents,
                                    'Total Budget' : tbformat,
                                    'Average Math Score' : avgmath,
                                    'Average Reading Score' : avgread,
                                    '% Passing Math' : passing_math_percent,
                                    '% Passing Reading' : passing_read_percent,
                                    'Overall Passing Rate' : overallpassingpercent}],
                                   columns=['Total Schools', 'Total Students', 'Total Budget', 
                                              'Average Math Score', 'Average Reading Score',
                                              '% Passing Math', '% Passing Reading', 'Overall Passing Rate'])

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853%,85.805463%,80.393158%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [8]:
# Make series for School Type and Total Students, using School Name as index

school_types = school_data.set_index(["school_name"])["type"]

schoolsize = school_data_complete["school_name"].value_counts()

print(school_types)
print(schoolsize)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [9]:
# Make list for total school budgets

school_budget = school_data_complete.groupby(['school_name']).mean()['budget']

#school_budget = school_data.set_index(["school_name"])["budget"].sort_index() - another correct method

print(school_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [10]:
# Calculate per student budget

psbudget = school_budget/schoolsize

print(psbudget)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [11]:
# Group by school and calculate means of math and reading scores for each school

school_groups = school_data_complete.groupby(['school_name'])

mathscores = school_groups.mean()['math_score']

readscores = school_groups.mean()['reading_score']

print(mathscores)
print(readscores)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [12]:
# Filter data to get passing math scores, then group by school to get the count of students passing math in each school


#school_math_filter = school_data_complete.loc[school_data_complete['math_score'] >= 70, :] - another method


school_math_filter = school_data_complete[school_data_complete['math_score'] >= 70]

school_groups2 = school_math_filter.groupby(['school_name'])

school_passing_math_count = school_groups2.count()["student_name"]


#school_passing_math_count = school_groups2[(school_groups["math_score"] >= 70)].count()["student_name"] - does not work


print(school_passing_math_count)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [13]:
# Same process to get count of students passing reading in each school

school_read_filter = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]

school_groups3 = school_read_filter.groupby(['school_name'])

school_passing_read_count = school_groups3.count()["student_name"]

print(school_passing_read_count)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [14]:
# Calculate passing math rates for schools

school_passing_math_rate = round(school_passing_math_count / schoolsize * 100, 6)

print(school_passing_math_rate)

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [15]:
# Calculate passing reading rates for schools

school_passing_read_rate = round(school_passing_read_count / schoolsize * 100, 6)

print(school_passing_read_rate)

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [16]:
# Calculate overall passing rates at each school

schoolpassingrate = (school_passing_math_rate + school_passing_read_rate) / 2

print(schoolpassingrate)

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363853
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270271
Rodriguez High School    73.293323
Shelton High School      94.860874
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [17]:
# Convert formats to currency for budget variables

school_budget = school_budget.map("${:,.2f}".format)
psbudget = psbudget.map("${:,.2f}".format)

In [18]:
school_summary_df = pd.DataFrame({'School Type': school_types,
                                 'Total Students' : schoolsize,
                                 'Total School Budget': school_budget,
                                 'Per Student Budget' : psbudget,
                                 'Average Math Score' : mathscores,
                                 'Average Reading Score' : readscores,
                                 '% Passing Math' : school_passing_math_rate,
                                 '% Passing Reading' : school_passing_read_rate,
                                 '% Overall Passing Rate' : schoolpassingrate})

print(school_summary_df)

                      School Type  Total Students Total School Budget  \
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  % Passing Math  \
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing Rate
Bailey High School             81.933280               74.306672
Cabrera High School            97.039828               95.586652
Figueroa High School           80.739234               73.363853
Ford High School               79.299014               73.804308
Griffin High School            97.138965               95.265668
Hernandez High School          80.862999               73.807983
Holden High School             96.252927               94.379391
Huang High School              81.316421               73.500171
Johnson High School            81.222432               73.639992
Pena High School               95.945946               95.270271
Rodriguez High School          80.220055               73.293323
Shelton High School            95.854628               94.860874
Thomas High School             97.308869               95.290520
Wilson High School             96.539641               95.203679
Wright High School             96.611111               94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [19]:
school_summary_df = school_summary_df.sort_values('% Overall Passing Rate', ascending = False)

print(school_summary_df.head())

                    School Type  Total Students Total School Budget  \
Cabrera High School     Charter            1858       $1,081,356.00
Thomas High School      Charter            1635       $1,043,130.00
Pena High School        Charter             962         $585,858.00
Griffin High School     Charter            1468         $917,500.00
Wilson High School      Charter            2283       $1,319,574.00

                    Per Student Budget  Average Math Score  \
Cabrera High School            $582.00           83.061895
Thomas High School             $638.00           83.418349
Pena High School               $609.00           83.839917
Griffin High School            $625.00           83.351499
Wilson High School             $578.00           83.274201

                     Average Reading Score  % Passing Math  % Passing Reading  \
Cabrera High School              83.975780       94.133477          97.039828
Thomas High School               83.848930       93.272171          97.308869
Pena High School                 84.044699       94.594595          95.945946
Griffin High School              83.816757       93.392371          97.138965
Wilson High School               83.989488       93.867718          96.539641

                     % Overall Passing Rate
Cabrera High School               95.586652
Thomas High School                95.290520
Pena High School                  95.270271
Griffin High School               95.265668
Wilson High School                95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [20]:
school_summary_df2 = school_summary_df

school_summary_df2 = school_summary_df2.sort_values('% Overall Passing Rate', ascending = True)

print(school_summary_df2.head())

                      School Type  Total Students Total School Budget  \
Rodriguez High School    District            3999       $2,547,363.00
Figueroa High School     District            2949       $1,884,411.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Ford High School         District            2739       $1,763,916.00

                      Per Student Budget  Average Math Score  \
Rodriguez High School            $637.00           76.842711
Figueroa High School             $639.00           76.711767
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Ford High School                 $644.00           77.102592

                       Average Reading Score  % Passing Math  \
Rodriguez High School              80.744686       66.366592
Figueroa High School               81.158020       65.988471
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Ford High School                   80.746258       68.309602

                       % Passing Reading  % Overall Passing Rate
Rodriguez High School          80.220055               73.293323
Figueroa High School           80.739234               73.363853
Huang High School              81.316421               73.500171
Johnson High School            81.222432               73.639992
Ford High School               79.299014               73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
# Calculate average math scores for each grade, grouped by school, using locations and conditionals

grade9_math = school_data_complete.loc[school_data_complete['grade'] == '9th']
grade9_math_grouped = grade9_math.groupby(['school_name'])
grade9_math_avg = grade9_math_grouped.mean()['math_score']

# Average math scores for 10th grade at each school

grade10_math = school_data_complete.loc[school_data_complete['grade'] == '10th']
grade10_math_grouped = grade10_math.groupby(['school_name'])
grade10_math_avg = grade10_math_grouped.mean()['math_score']

# Average math scores for 11th grade at each school

grade11_math = school_data_complete.loc[school_data_complete['grade'] == '11th']
grade11_math_grouped = grade11_math.groupby(['school_name'])
grade11_math_avg = grade11_math_grouped.mean()['math_score']

# Average math scores for 12th grade at each school

grade12_math = school_data_complete.loc[school_data_complete['grade'] == '12th']
grade12_math_grouped = grade12_math.groupby(['school_name'])
grade12_math_avg = grade12_math_grouped.mean()['math_score']

In [22]:
math_scores_by_grade = pd.DataFrame({'9th': grade9_math_avg,
                                    '10th': grade10_math_avg,
                                    '11th': grade11_math_avg,
                                    '12th': grade12_math_avg})

print(math_scores_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [23]:
# Calculate average reading scores for each grade, grouped by school, using locations and conditionals

grade9_read = school_data_complete.loc[school_data_complete['grade'] == '9th']
grade9_read_grouped = grade9_read.groupby(['school_name'])
grade9_read_avg = grade9_read_grouped.mean()['reading_score']

# Average reading scores for 10th grade at each school

grade10_read = school_data_complete.loc[school_data_complete['grade'] == '10th']
grade10_read_grouped = grade10_read.groupby(['school_name'])
grade10_read_avg = grade10_read_grouped.mean()['reading_score']

# Average reading scores for 11th grade at each school

grade11_read = school_data_complete.loc[school_data_complete['grade'] == '11th']
grade11_read_grouped = grade11_read.groupby(['school_name'])
grade11_read_avg = grade11_read_grouped.mean()['reading_score']

# Average reading scores for 12th grade at each school

grade12_read = school_data_complete.loc[school_data_complete['grade'] == '12th']
grade12_read_grouped = grade12_read.groupby(['school_name'])
grade12_read_avg = grade12_read_grouped.mean()['reading_score']

In [24]:
reading_scores_by_grade = pd.DataFrame({'9th': grade9_read_avg,
                                    '10th': grade10_read_avg,
                                    '11th': grade11_read_avg,
                                    '12th': grade12_read_avg})

print(reading_scores_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [26]:
# Create bins and labels

spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [27]:
# Remove percent formatting from "Per Student Budget" columns and convert to float in order to use cut method

school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].str.replace(',', '')
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].str.replace('$', '')
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].astype(float)

In [28]:
# Duplicate data frame - need to use copy function, otherwise original df is also affected when slicing
# Perform cut and drop unnecessary columns

spending_range_df = school_summary_df.copy()
spending_range_df["Spending Range"] = pd.cut(spending_range_df["Per Student Budget"], spending_bins, labels=group_names)
spending_range_df.drop(['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget'], axis=1, inplace=True)

spending_range_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Range
Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Pena High School,83.839917,84.044699,94.594595,95.945946,95.270271,$585-615
Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,<$585
Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860874,$585-615
Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363853,$615-645
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645

## Scores by School Size

* Perform the same operations as above, based on school size.

In [32]:
# Create bins and labels

size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [35]:
# Duplicate data frame, perform cut, and drop unnecessary columns

school_size_df = school_summary_df.copy()
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels=group_names2)
school_size_df.drop(['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget'], axis=1, inplace=True)

school_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1000-2000)
Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,Medium (1000-2000)
Pena High School,83.839917,84.044699,94.594595,95.945946,95.270271,Small (<1000)
Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,Medium (1000-2000)
Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,Large (2000-5000)
Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,Medium (1000-2000)
Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860874,Medium (1000-2000)
Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1000)
Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,Large (2000-5000)
Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,Large (2000-5000)
Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,Large (2000-5000)
Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,Large (2000-5000)
Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,Large (2000-5000)
Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363853,Large (2000-5000)
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,Large (2000-5000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [37]:
# Duplicate data frame

school_type_df = school_summary_df.copy()

In [40]:
# Reorganize data frame, omitting unnecessary columns

school_type_df = school_type_df[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                                 '% Passing Reading', '% Overall Passing Rate', 'School Type']]
school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Type
Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,Charter
Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,Charter
Pena High School,83.839917,84.044699,94.594595,95.945946,95.270271,Charter
Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,Charter
Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,Charter
Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,Charter
Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860874,Charter
Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,Charter
Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,District
Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,District
Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,District
Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,District
Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,District
Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363853,District
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,District